<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Show Contracts</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/modalPopup.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body style="padding: 1%;">

    <div class="container-fluid" >

        <div class="container-fluid" style="margin-bottom: 10px;">
            <div class="col-sm-9">
                <a href="home">
                    <h2 style="display: inline;">Contract Rate Management Portal</h2>
                </a>
            </div>
            <div class="col-sm-3">
                <a id="loginBtn" href="login" class="btn btn-link" sec:authorize="isAnonymous()">Login</a>
                <span sec:authorize="isAuthenticated()">
                    <span>Hello [[${#httpServletRequest.remoteUser}]]!</span>
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-link" type="submit" value="Logout"/>
                    </form>
                </span>
            </div>
        </div>

        <!-- MAIN LIST OF CONTRACTS -->
        <div id="contractList" class="container-fluid">
            <div th:if="${not #lists.isEmpty(contracts)}">                    
            <h3>Contracts</h3>
                <table class="table table-striped">
                    <thead>
                        <td>ID</td>
                        <td>ORIGIN</td>
                        <td>DESTINATION</td>
                        <td>AGENT NAME</td>
                        <td>COMMODITY</td>
                        <td>WEIGHT BREAK</td>
                        <td>CURRENCY</td>
                        <td>VALUE</td>
                        <td>VALID FROM</td>
                        <td>VALID TO</td>
                        <td>STATUS</td>
                        <td>OWNER</td>
                        <td>CREATED BY</td>
                    </thead>

                    <tr th:id="'contractRow' + ${contract.id}" th:each="contract : ${contracts}">
                        <form th:id="'contractRowForm' + ${contract.id}" th:action="@{/contracts/edit}" th:object="${contract}" method="post">
                            <td th:id="id" th:text="${contract.id}" th:field="*{id}"></td>
                            <td th:id="org" th:text="${contract.origin}" th:field="*{origin}"></td>
                            <td th:id="des" th:text="${contract.destination}" th:field="*{destination}"></td>
                            <td th:id="agt" th:text="${contract.agentName}" th:field="*{agentName}"></td>
                            <td th:id="comm" th:text="${contract.commodity}" th:field="*{commodity}"></td>
                            <td th:id="wb" th:text="${contract.weightBreak}" th:field="*{weightBreak}"></td>
                            <td th:id="curr" th:text="${contract.currency}" th:field="*{currency}"></td>
                            <td th:id="value" th:text="${contract.value}" th:field="*{value}"></td>
                            <td th:id="from" th:text="${contract.validFrom}" th:field="*{validFrom}"></td>
                            <td th:id="to" th:text="${contract.validTo}" th:field="*{validTo}"></td>
                            <td th:id="status" th:text="${contract.status}" th:field="*{status}"></td>
                            <td th:id="primaryRole" th:text="${contract.primaryRole}" th:field=*{primaryRole}></td>
                            <td th:id="createdBy" th:text="${contract.createdBy}" th:field=*{createdBy}></td>

                            <input type="hidden" th:id="hidden_id" th:field="*{id}"/>
                            <input type="hidden" th:id="hidden_org" th:field="*{origin}"/>
                            <input type="hidden" th:id="hidden_des" th:field="*{destination}"/>
                            <input type="hidden" th:id="hidden_agt" th:field="*{agentName}"/>
                            <input type="hidden" th:id="hidden_comm" th:field="*{commodity}"/>
                            <input type="hidden" th:id="hidden_wb" th:field="*{weightBreak}"/>
                            <input type="hidden" th:id="hidden_curr" th:field="*{currency}"/>
                            <input type="hidden" th:id="hidden_value" th:field="*{value}"/>
                            <input type="hidden" th:id="hidden_from" th:field="*{validFrom}"/>
                            <input type="hidden" th:id="hidden_to" th:field="*{validTo}"/>
                            <input type="hidden" th:id="hidden_status" th:field="*{status}"/>
                            <input type="hidden" th:id="hidden_primaryRole" th:field="*{primaryRole}"/>
                            <input type="hidden" th:id="hidden_createdBy" th:field="*{createdBy}"/>

                            <td class="buttons">
                                <a class="btn btn-default" th:id="'editOrSaveBtn' + ${contract.id}"
                                    th:onclick="'javascript:editOrSaveHandler(' + ${contract.id} + ');'">Edit</a>
                                <a class="btn btn-default" th:href="${'/contracts/delete/' + contract.id}">Delete</a>
                            </td>
                        </form>
                    </tr>

                </table>
            </div>
            <!-- Trigger/Open The Modal -->
            <a id="addContractBtn" class="btn btn-default">Add New Contract</a>

        </div>
    </div>

    <div>
        <!-- The Modal Popup -->
        <div id="myModal" class="modal">

            <!-- Modal form content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <table class="table">
                    <thead>
                        <p>Specify the details of new contract :</p>
                    </thead>
                    <tr>
                        <form id="submitForm" th:action="@{/contracts/add}" th:object="${contract}" method="post">
                            <p>
                                <input type="text" class="short" placeholder="Origin" th:field="*{origin}"  />
                                <input type="text" class="short" placeholder="Destination" th:field="*{destination}"/>
                                <input type="text" class="long" placeholder="Agent Name" th:field="*{agentName}"/>
                                <input type="text" class="long" placeholder="Commodity" th:field="*{commodity}"/>
                                <input type="text" class="short" placeholder="WB" th:field="*{weightBreak}"/>
                                <input type="text" class="short" placeholder="Currency" th:field="*{currency}"/>
                                <input type="text" class="short" placeholder="Value" th:field="*{value}"/>
                                <input type="text" class="long" placeholder="Valid From (YYYY-MM-DD)" th:field="*{validFrom}"/>
                                <input type="text" class="long" placeholder="Valid To (YYYY-MM-DD)" th:field="*{validTo}"/>
                                <input type="text" class="long" placeholder="Status" th:field="*{status}"/>
                                <input type="text" class="long" placeholder="Owner Role" th:field="*{primaryRole}" readonly/>
                                <input type="text" class="long" placeholder="Created By" th:field="*{createdBy}" readonly/>
                            </p>
                            <p>
                                <input type="submit" id="btn-submit" value="Submit"/>
                                <input type="reset" id="btn-reset" value="Reset"/>
                            </p>
                        </form>
                    </tr>
                </table>
            </form>
            </div>
        </div>
    </div>

    <script>
        // id stands for CONTRACT ID
        function editOrSaveHandler(id) {
            var tableRow = document.getElementById('contractRow' + id);
            copier('contractRow' + id);
            //alert(tableRow.cells.namedItem("id").innerHTML);// reach a td in a tr (TESTED)

            // make editable the fields of contract row
            for(cell of tableRow.cells) {
                if(cell.className != "buttons" && cell.id != "id") {
                    if(cell.isContentEditable) {
                        cell.setAttribute("contenteditable","false");
                    } else {
                        cell.setAttribute("contenteditable","true");
                    }
                }
            }

            var editOrSaveBtn = document.getElementById("editOrSaveBtn" + id);
            if(editOrSaveBtn.innerText == 'Edit') {
                editOrSaveBtn.innerText = 'Save';
                tableRow.style.backgroundColor = "#AACABA";
            } else {
                editOrSaveBtn.innerText = 'Edit';
                tableRow.style.backgroundColor = null;
                $("#contractRowForm" + id).submit();
            }

        }
    </script>

    <script>
        function copier(tableRowId) {
            $('#' + tableRowId + " #hidden_id").attr("value", $('#' + tableRowId + " #id").html());
            $('#' + tableRowId).children('td').not('.buttons').each(function (index) {
                console.log(tableRowId, " copier called");
                console.log($(this).html());
                $(this).on('DOMSubtreeModified', function () {
                    $('#' + tableRowId + ' #hidden_' + $(this).attr('id')).attr("value", $(this).html());
                });
            });
        }
    </script>
    
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("addContractBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal 
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
 
</body>

</html>