<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Show Contracts</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div th:if="${not #lists.isEmpty(contracts)}">                    
        <h1>Contract List</h1>
            <table class="table table-striped">
                <thead>
                    <td>ID</td>
                    <td>ORIGIN</td>
                    <td>DESTINATION</td>
                    <td>AGENT NAME</td>
                    <td>COMMODITY</td>
                    <td>WEIGHT BREAK</td>
                    <td>CURRENCY</td>
                    <td>VALUE</td>
                    <td>VALID FROM</td>
                    <td>VALID TO</td>
                    <td>STATUS</td>
                </thead>
                <tr th:each="contract : ${contracts}">
                    <td th:text="${contract.id}"></td>
                    <td th:text="${contract.origin}"></td>
                    <td th:text="${contract.destination}"></td>
                    <td th:text="${contract.agentName}"></td>
                    <td th:text="${contract.commodity}"></td>
                    <td th:text="${contract.weightBreak}"></td>
                    <td th:text="${contract.currency}"></td>
                    <td th:text="${contract.value}"></td>
                    <td th:text="${contract.validFrom}"></td>
                    <td th:text="${contract.validTo}"></td>
                    <td th:text="${contract.status}"></td>
                    <td>
                        <a class="btn btn-default" th:href="${'/contracts/edit/' + contract.id}">Edit</a>
                        <a class="btn btn-default" th:href="${'/contracts/delete/' + contract.id}">Delete</a>
                    </td>
                </tr>
                <a class="btn btn-default" th:href="${'/contracts/add'}">Add New Contract</a>
                <a class="btn btn-default" th:href="${'/contracts/addMultiple'}">Add Multiple</a>
            </table>
        </div>        
    </div>
</body>

</html>