/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: scroll; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  /* margin: 1%; 15% from the top and centered */
  padding: 1px;
  border: 2px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
}

.short {
  padding: 5px 3px 5px 3px;
  background-color: #c2ffff79;
  width: 80px;
}

.long {
  padding: 5px 3px 5px 3px;
  background-color: #c2ffff79;
  width: fit-content;
}

/* The Submit Button */
.btn-submit {
  padding: 10px;
  margin: 10px 10px 10px 10px;
}

/* The Close Button */
.btn-reset {
  color: rgb(255, 0, 0);
  float: right;
  margin: 10px 10px 10px 10px;
  font-size: 28px;
  font-weight: bold;
}

.btn-reset:hover,
.btn-reset:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}